// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.xl-home-input {
  border-radius: 0;
  height: 40px;
}

.xl-home-input-button {
  border-radius: 2px;
  height: 40px;
  padding-top: 9px;
  text-align: center;
}
